#topNav{
    height:47px;
    background-color: rgb(36, 36, 36);
font-family:"Comic Sans MS";
border: none;
border-radius: 5cm;
}
#topNav a{
 color: rgb(244, 197, 148);
 text-decoration: none;
 padding-top: 1%;
 padding-bottom: 1%;
 padding-right:2% ;
 padding-left: 2%;
 float: right;
 
}
 
#topNav a:hover{
    color: rgb(225, 225, 225);
}
#topNav a:active{
    color:brown;
    
}
#homeTitle{
height:40px;

}
#homeCont{

}
